.navbar {
    background-color: #005c99;
    padding: 10px;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 20px;
}

.nav-left a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-right {
    font-weight: bold;
}

.btn-login {
    background-color: #005c99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-logout {
    background: red;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
}